@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins&display=swap');

body {
    margin: 0;
    color: black;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

h1, h2, button {
    font-family: 'Bebas Neue', cursive;
}

h3, p {
    font-family: 'Poppins', sans-serif;
}

.container {
    max-width: 900px;
    margin: auto;
}

header,
footer {
    background-color: #ED1C24;
    padding: 1rem;
    color: #FFFFFF;
}

article {
    padding: 1rem;
}

header .container,
footer .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.menu-item {
    margin-top: 2px;
    background-color: transparent;
    padding: 0;
    border: 0;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
    margin-right: 0.5rem;
    color: #FFFFFF;
    font-size: 1.5rem;
    cursor: pointer;
}

.menu-item:hover {
    border-color: #FFFFFF;
}

.menu-item.active {
    border-color: #FFFFFF;
}

.image-text {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.img-wrapper {
    margin: 1rem 0;
}
@media screen and (min-width: 600px) {
    .image-text .shrink {
        flex: 1;
    }
    .img-wrapper {
        margin-left: 1rem;
    }
}

.img-wrapper img {
    width: 100%;
    height: auto;

}